@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes plane {
  0% {
    transform: translateX(-120vw) scale(0.8);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateX(120vw) scale(1.2);
    opacity: 0;
  }
}

.animate-plane {
  animation: plane 1.2s ease-in-out forwards;
}
